.bg-container{
    background-image: url("https://ik.imagekit.io/c2zxrxqp6/food-store/pexels-ella-olsson-572949-1640774.jpg?updatedAt=1743170605655");
    height: 100vh;
    background-size: cover;
    background-position: center;
}